.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(22, 22, 22);
}

.todo-container {
  width: 25%;
  height: 500px;
  background-color: rgb(0, 0, 0);
  margin: 0 10px;
  border: 3px solid rgb(97, 97, 97);
  border-radius: 10px;
  padding: 10px;
  position: relative;

  color: rgb(175, 175, 175);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.todo-container h3 {
  height: fit-content;
  margin: 0;
  padding: 0;
}

.todo-container-add {
  color: rgb(175, 175, 175);
  padding: 5px 10px;
  background-color: rgb(51, 51, 51);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: larger;
  font-weight: normal;
  border-radius: 3px;
}

.todo-data {
  height: 100%;
  margin: 10px 0;
  overflow-y: auto;
}

.todo-data::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.todo-data {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.form-card {
  display: flex;
  flex-direction: column;
  padding: 5px 7px;
  background-color: rgb(11, 11, 11);
  border-radius: 5px;
  border: 1px solid rgb(83, 83, 83);
  position: fixed;
  width: 24%;
  box-shadow: 0px 0px 10px rgb(75, 75, 75);
  bottom: 50px;
  top: auto;
}

.form-card input {
  color: white;
  font-size: 15px;
  padding: 0 10px;
  background-color: #00000000;
  border: 1px solid rgb(114, 114, 114);
  margin: 4px 0;
  height: 40px;
  border-radius: 3px;
}

.form-card input:focus {
  border: 1px solid rgb(79, 79, 235);
  outline: none;
}

.form-card button {
  color: white;
  font-weight: bold;
  width: fit-content;
  padding: 5px 15px;
  border-radius: 3px;
  background-color: green;
  height: 30px;
  align-self: flex-end;
  margin: 4px 0 6px;
}

.form-close {
  align-self: flex-end;
  background-color: #00000000 !important;
  margin: 0;
  padding: 3px 7px;
  cursor: pointer;
  margin-bottom: 5px;
}
